/*
  RESET ==============================
  JAIMIN

/usr/local/bin/sass /Applications/MAMP/htdocs/CampusEatsMobileApp/www/css/style.scss /Applications/MAMP/htdocs/CampusEatsMobileApp/www/css/style.css
/usr/local/bin/sass /Applications/MAMP/htdocs/CampusEatsMobileApp/www/css/style.scss /Applications/MAMP/htdocs/CampusEatsMobileApp/www/css/style.css

*/


/* normalize ======================= */
@import "normalize";
/* variables ======================= */
@import "variables/variables";
/* typography ======================= */
@import "typography/typography";
/* layout ======================= */
@import "layout/layout";
/* layout ======================= */
@import "elements/elements";
/* Navigation ======================= */
@import "navigation/navigation";
/* site ======================= */
@import "site/site";
/* forms ======================= */
@import "forms/forms";
/* media ======================= */
@import "media/media";

















