.site-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: $color__white;
    width: 100vw;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 2s;

    border-bottom: 5px solid $color__orange;

    -webkit-box-shadow: -17px 28px 16px -25px rgba(241,90,36,0.35);
    -moz-box-shadow: -17px 28px 16px -25px rgba(241,90,36,0.35);
    box-shadow: -17px 28px 16px -25px rgba(241,90,36,0.35);

   .button-con{

       button{
           appearance: none;
           border: 1px solid $color__orange;
           padding: 10px ;
           margin: 10px;
           box-sizing: border-box;
           border-radius: 3px;
           background-color: white;

           &:hover{
               border: 1px solid $color__white;
               background-color: $color__orange;
               transition: all 1s;

               i{
                   color: $color__white;
               }
           }

           i{
               color: $color__orange;
               padding-right: 0;
           }
       }

       flex: 0 0 0;
       overflow: hidden;
       @media screen and (max-width:800px) {
           flex-grow: 1;
           overflow: auto;
           text-align: right;

           button{
           }
       }
   }

   .header-menu{
       @media screen and (max-width:800px) {
           flex: 0 0 0;
           overflow: hidden;
       }
   }

    nav{
        flex-grow: 1;
    }

}


.header-menu ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: flex-end;

}

.header-menu ul li a {
    padding: 24px;
    color: $color__orange;
    font-weight: 300;
    font-size: 16px;
    display: block;
}

.header-menu ul li a:hover {
    background-color: $color__orange;
    color: $color__white;
    transition: background-color 1s linear, color .1s linear;
}

.site-header h1 {
    margin: 0;
}

