.site-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $color__white;
    width: 100%;
    position: -webkit-sticky;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 100000;
    transition: all 2s;

    border-bottom: 5px solid $color__orange;
}


.header-menu ul {
    display: flex;
}
.header-menu {
    overflow: hidden;
}

.header-menu ul li a {
    padding: 1.4rem;
    color: $color__orange;
    font-weight: bold;
    font-size: 1.3rem;
}

.header-menu ul li a:hover {
   background-color: $color__orange;
    color: $color__white;
    transition: all .5s;
}

.site-header h1 {
    margin: 0;
}

