body {
  margin: 0;
  padding: 0;
  background-color: $color__white;
  color: $color__black;
  font-family: $font__sans;
}

.main-section{
  min-height: 100vh;
  background-color: $color__orange ;
}

.main-section.alternate{
  background-color: $color__white ;
}

.section-title{
  color: $color__white;
  font-weight: 300;
}

.main-section.alternate .section-title{
  color: $color__orange;
}

.article-title{
  font-weight: 100;
}

/* SECTIONS ============ */

/* SCREEN SECTION ============ */
@import "sections/screens";

/* TOP SECTION ============ */
@import "sections/top";

/* TEAM SECTION =========== */
@import "sections/team";


