/* Error: expected "{".
 *    ,
 * 79 | .
 *    |  ^
 *    '
 *   layout/sections/_testimonials.scss 79:2  @import
 *   layout/_main.scss 57:9                   @import
 *   layout/_layout.scss 5:9                  @import
 *   style.scss 18:9                          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 79 \2502  .\a    \2502   ^\a    \2575 \a   layout/sections/_testimonials.scss 79:2  @import\a   layout/_main.scss 57:9                   @import\a   layout/_layout.scss 5:9                  @import\a   style.scss 18:9                          root stylesheet';
}
