$color__orange:#f15a24;
$color__green:#009245;
$color__white:#fff;
$color__black:#000;
$color_grey:#999999;
$color_lightgrey:#ccc;
$color_textBlack:#282828;
$color_red:#ed1c24;
$color_yellow:#fbb03b;


$color_bs1:#fffdf7;
$color_bs2:#e8e282;


