

.download-btn .google {
    max-width: 29% !important;
    height: auto;
    padding: 1rem;
}
.download-btn .apple {
    max-width: 31.4% !important;
    height: auto;
    padding: 1rem;
}

.footer-subscribe button {
    -webkit-appearance: none;
    appearance: none;
    padding: 0.45rem;
    background-color: $color__black;
    color: $color__white;
}